#main{
    height: 100vh;
    width: 100vw;
    display: flex;
}
#first{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: inherit;
    background-color: bisque;
    font-size: 80px;
    color: chocolate;
}
#second{
    width:50vw;
    background-color: khaki;
}